.compass::before {
  content: " ";
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  position: absolute;
  inset: 0;
  transform: rotate(45deg);
  z-index: -1;
  opacity: 1;
  transition: transform 2s, opacity 1s;
}

.compass {
  cursor: pointer;
}

.compass:hover:before {
  transform: rotate(180deg);
  cursor: pointer;
  opacity: 0;
}

i {
  color: rgba(2, 2, 62, 0.873);
}
i:hover {
  color: #f8b40e;
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.hero {
  /* translate: 30px 0; */
  animation: exp 5.5s ease-in-out infinite;
}

@keyframes exp {
  0% {
    transform: translateX(100%) rotate(-3deg);
    opacity: 1;
  }
  12.5% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  37.5% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  62.5% {
    transform: rotate(3deg);
  }
  75% {
    transform: translateX(-100%) rotate(-3deg);
    opacity: 0.3;
  }
  87.5% {
    transform: rotate(3deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-3deg);
    opacity: 0;
  }
}

.hero2 {
  animation: exp2 5s linear infinite;
}

@keyframes exp2 {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
  25% {
    transform: translateX(5%);
  }
}
